@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
  padding: 10px;
}

.bus-button {
  display: inline-block;
  text-decoration: none;
  /* background-color: #004C5B; */
  /* color: #ffffff; */
  padding: 20px;
  margin: 5px;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

li {
  flex: 1;
  list-style: none;
}

.hide {
  display: none;
}

.trip-container {
  display: block;
  background: pink;
  border: 2px solid black;
  margin: 5px;
}

tr>td:first-child {
  font-weight: bold;
}
th {
  font-weight: normal;
}
table,
td,
th {
  border: 1px solid black;
  text-align: center;
  margin: 2px;
  /* width: 100%; */
}
th {
  background: black;
  color: white;
  padding: 5px;
}

.routing {
  display: inline-block;
}

.page {
  display: block;
  border: 2px solid pink;
  padding: 10px;
  margin: 5px;
}

.trip-div {
  padding: 10px;
  border: 2px red dotted;
}

.table-div {
  padding: 10px;
  border: 2px purple dashed;
}